@use '../custom' as *;
@use '../components/mixins' as *;
.logo{
    width: 100%;
    max-width: 130px;
    min-width: 130px;
    height: auto;
   
}

.menu{
    margin: 0 auto;
    padding: 20px 0.938rem;
    

    li{
        padding: 0 0.75rem;

        :hover{
            @include hoverItens;
        }
        
        a{
            color: $light;
            font-weight: 600;
            
        }
               
        
        &:nth-child(3){
            border-right: 1px solid white;
        }
    }

}