@use '../custom' as *;

@mixin gradient{
    background: linear-gradient(to right, rgba($primary,0.7), rgba($black, 1));
    transition: all 500ms ease;
}

@mixin hoverItens{
    transition: all 500ms ease;
    color: $spotify-green !important;
}